/* Reset default margin and padding for all elements */

.text{
    font-family: cursive;
    text-align: -webkit-center;
    margin-top: 25px;
}

.subpage-title{
    font-family: cursive;
    text-align: center;
    margin-top: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #d9c2a3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #d9c2a3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Import Fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the body */
body {
    background-color: #fcfbfb;
    font-family:  Arial, sans-serif,Lato, "Lucida Grande", Tahoma, Sans-Serif,Raleway;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* Apply styles to the header */
header {
    background-color: rgba(20, 30, 13, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

/* Style navigation links */
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

/* Style the logo and icons */
.logo, .icon {
    width: 80px;
}
.icon {
    padding-top: 10px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* Style the hero image */
#hero-img {
    width: 100%;
}

/* Style the button elements */
.book, .join {
    width: 123px;
    font-size: 18px;
    padding: 10px ;
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;
    border: none;

}

.book:hover, .join:hover {
    background-color: black;

}

/* Center the content div */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Center various elements within their containers */
nav a,
#hero-msg h1, #hero-msg h4,
.button-box,
main section {
    text-align: center;
}

/* Add a background color to the background div */


/* Style the message section */


/* Style the text inside the message section */
.msg h2 {
    text-align: center;
}
h2 {
    margin: 0;
}

.msg p {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 15px;
    font-family: cursive;
    color: white;
}

/* Style the footer */
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Style footer text */
footer p {
    font-size: 1.2em;
    color: #d9c2a3;
    padding: 25px 50px;
}


footer a {
    text-decoration: none;
    color: #d9c2a3;
    margin-top: 200px;

}
footer .social img {
    padding-top: 15px;
}

footer p a:hover {
    color: #d9c2a3;
}

.card-img {
    width: 100%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}
.home-title {
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
    color: bisque;
    font-size: 70px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px ;
    font-family: emoji ,"Gill Sans", sans-serif,Georgia, serif;
}





.subtitle{
    margin-top: 88px;
}

.madeFOnt{
    font-family:emoji ,"Gill Sans", sans-serif,Georgia, serif;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}




/* Main Section */
.main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 7 / 11; /* Position in columns 7–10 (right) */
    grid-row: 3 / span 4; /* Position in rows 3–7 (center) */
    box-shadow: 5px 5px 10px #6f7364;
    width: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: -442px;
    float: none;
}


#background {
    height: 725px;
    background-color: #d9c2a3;
    display: grid;
    grid-column: 1/10; /* Cover all columns */
    grid-row: 1/8; /* Cover all rows */
}

.mountains {
    /*width: 100%; !* To make sure the image covers the entire centered content *!*/
    grid-column: 2/7;
    grid-row: 5/8;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
