/* Reset default margin and padding for all elements */

/* Import Fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the body */
body {
    background-color: #fcfbfb;
    font-family:  Arial, sans-serif,Lato, "Lucida Grande", Tahoma, Sans-Serif,Raleway;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* Apply styles to the header */
header {
    background-color: rgba(20, 30, 13, 0.7);
}

/* Style navigation links */
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

/* Style the logo and icons */
.logo, .icon {
    width: 80px;
}
.icon {
    padding-top: 10px;
}

#logo_link {
    padding-top: 5px;
}

/* Style the hero image */
#hero-img {
    width: 100%;
}

/* Style the button elements */
.book, .join {
    width: 123px;
    font-size: 18px;
    padding: 10px ;
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;
    border: none;

}

.book:hover, .join:hover {
    background-color: black;

}

/* Center the content div */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Center various elements within their containers */
nav a,
#hero-msg h1, #hero-msg h4,
.button-box,
main section {
    text-align: center;
}

/* Add a background color to the background div */
#background {
    height: 725px;
    background-color:#d9c2a3
    /* Add background color here */
}

/* Style the message section */
.msg {
    /* Add background color here */
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
    font-family: cursive;
    color: white;


}

/* Style the text inside the message section */
.msg h2 {
    text-align: center;
}
h2 {
    margin: 0;
}

.msg p {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 15px;
    font-family: cursive;
    color: white;
}

/* Style the footer */
footer {
    /* Add background color here */
    background-color: #6f7364;
    padding: 25px 50px;
}

/* Style footer text */
footer p {
    font-size: 1.2em;
    color: #d9c2a3;
    padding: 25px 50px;
}


footer a {
    text-decoration: none;
    color: #d9c2a3;
    margin-top: 200px;

}
footer .social img {
    padding-top: 15px;
}

footer p a:hover {
    color: #d9c2a3;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}
.home-title {
    margin-top: 10px;
    font-family: 'Pacifico', cursive;'Palatino Linotype', 'Book Antiqua', serif , "Gill Sans", sans-serif;
    font-size: 2em;
    color: #d9c09e
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px ;
    font-family: emoji ,"Gill Sans", sans-serif,Georgia, serif;
}

.mountains{
    margin-top: 179px;
    margin-bottom: 95px;
    width: 581px;

}

.subtitle{
    margin-top: 88px;
}

.madeFOnt{
    font-family:emoji ,"Gill Sans", sans-serif,Georgia, serif;
}

