:root {
    --text-color: #ebeeef;
    --background-color: #161c19;
}

@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenSans', Arial, sans-serif;
}
body {
    font-family: 'Times New Roman', 'serif', sans-serif;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: var(--primary-color); /* Links */
}

button {
    background-color: var(--secondary-color); /* Buttons */
    color: var(--text-color);
}


h1, h2, h3 {
    font-family: 'Times New Roman', 'serif', sans-serif;
}

p {
    font-family: 'Times New Roman', 'serif', sans-serif;
}
