/*!* Reset default margin and padding for all elements *!*/


/*.containerContact {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    background-color: #fff;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*}*/

/*.contact-info {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.map {*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    border: 1px solid #ccc;*/
/*    margin-top: 20px;*/
/*}*/

/*.contact-form {*/
/*    margin-top: 20px;*/
/*}*/

/*label {*/
/*    font-weight: bold;*/
/*}*/

/*.form-group {*/
/*    margin-bottom: 20px;*/
/*}*/

/*input[type="text"],*/
/*input[type="email"],*/
/*textarea {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 3px;*/
/*    box-shadow: none;*/
/*    font-size: 16px;*/
/*}*/

/*textarea {*/
/*    resize: vertical;*/
/*}*/

/*.submit-button {*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*    border: none;*/
/*    padding: 10px 20px;*/
/*    border-radius: 3px;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*}*/

/*.submit-button:hover {*/
/*    background-color: #0056b3;*/
/*}*/
/*!* Import Fonts *!*/
/*.containertext {*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*}*/

/*p {*/
/*    font-size: 16px;*/
/*    line-height: 1.5;*/
/*}*/

/*.stadium-grid {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
/*    gap: 20px;*/
/*    margin: 20px;*/
/*}*/

/*.stadium-card {*/
/*    background-color: #fff;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*    border-radius: 8px;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

/*.stadium-image {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

/*h2 {*/
/*    font-size: 24px;*/
/*    margin: 10px 0;*/
/*}*/

/*p {*/
/*    font-size: 16px;*/
/*    margin: 10px 0;*/
/*}*/

/*.food-card {*/
/*    background-color: #fff;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*    border-radius: 8px;*/
/*    margin: 20px;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

/*.food-image {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

/*h2 {*/
/*    font-size: 24px;*/
/*    margin: 10px 0;*/
/*}*/

/*p {*/
/*    font-size: 16px;*/
/*    margin: 10px 0;*/
/*}*/


/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*!* Set a background color for the body *!*/
/*body {*/
/*    background-color: #fcfbfb;*/
/*    font-family:  Arial, sans-serif,Lato, "Lucida Grande", Tahoma, Sans-Serif,Raleway;*/
/*    font-size: 22px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*!* Apply styles to the header *!*/
/*header {*/
/*    background-color: #187CB9;*/
/*    display: grid;*/
/*    grid-template-columns: 150px auto;*/
/*}*/

/*nav {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/

/*!* Style navigation links *!*/
/*nav a {*/
/*    text-align: center;*/
/*    color: #fcfbfb;*/
/*    text-decoration: none;*/
/*    padding: 35px;*/
/*}*/

/*nav a:hover {*/
/*    background-color: black;*/
/*    color: #d7901b;*/
/*}*/

/*!* Style the logo and icons *!*/
/*.logo, .icon {*/
/*    width: 80px;*/
/*}*/
/*.icon {*/
/*    padding-top: 10px;*/
/*}*/

/*#logo_link {*/
/*    padding-top: 5px;*/
/*    justify-self: center;*/
/*    align-self: center;*/
/*}*/

/*!* Style the hero image *!*/
/*#hero-img {*/
/*    width: 100%;*/
/*}*/

/*!* Style the button elements *!*/
/*.book, .join {*/
/*    width: 123px;*/
/*    font-size: 18px;*/
/*    padding: 10px ;*/
/*    background-color: #c5c4c0;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    margin-top: 50px;*/
/*    border-radius: 5px;*/
/*    border: none;*/

/*}*/

/*.book:hover, .join:hover {*/
/*    background-color: black;*/

/*}*/

/*!* Center the content div *!*/
/*#content {*/
/*    max-width: 1600px;*/
/*    margin: 0 auto;*/
/*}*/

/*!* Center various elements within their containers *!*/
/*nav a,*/
/*#hero-msg h1, #hero-msg h4,*/
/*.button-box,*/
/*main section {*/
/*    text-align: center;*/
/*}*/

/*!* Add a background color to the background div *!*/


/*!* Style the message section *!*/


/*!* Style the text inside the message section *!*/
/*.msg h2 {*/
/*    text-align: center;*/
/*    color: orange;*/
/*}*/
/*h2 {*/
/*    margin: 0;*/
/*}*/

/*.msg p {*/
/*    text-align: center;*/
/*    font-size: 0.8em;*/
/*    padding-bottom: 15px;*/
/*    font-family: cursive;*/
/*    color: white;*/
/*}*/

/*!* Style the footer *!*/
/*footer {*/
/*    background-color:#0a653f;*/
/*    padding: 25px 50px;*/
/*    margin-top: 200px;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/


/*!* Style footer text *!*/
/*footer p {*/
/*    font-size: 1.2em;*/
/*    color:#ffffff;*/
/*    padding: 25px 50px;*/
/*}*/


/*footer a {*/
/*    text-decoration: none;*/
/*    color: #ffffff;*/
/*    margin-top: 200px;*/

/*}*/
/*footer .social img {*/
/*    padding-top: 15px;*/
/*}*/

/*footer p a:hover {*/
/*    color: #d9c2a3;*/
/*}*/

/*.card-img {*/
/*    width: 100%;*/
/*    border: 10px solid #d7901b;*/
/*    transition: transform .5s;*/
/*    box-shadow: 5px 5px 10px #6f7364;*/
/*}*/
/*.card-img:hover {*/
/*    opacity: .6;*/
/*    transform: scale(1.1);*/
/*}*/

/*main section img {*/
/*    box-sizing: border-box;*/
/*}*/
/*.home-title {*/
/*    margin-top: 10px;*/
/*    font-family: 'Pacifico', cursive;*/
/*    color: bisque;*/
/*    font-size: 70px;*/
/*}*/

/*.rivers-card, .camping-card, .rapids-card {*/
/*    margin: 200px ;*/
/*    font-family: emoji ,"Gill Sans", sans-serif,Georgia, serif;*/
/*}*/





/*.subtitle{*/
/*    margin-top: 88px;*/
/*}*/

/*.madeFOnt{*/
/*    font-family:emoji ,"Gill Sans", sans-serif,Georgia, serif;*/
/*}*/
/*#hero {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 3fr 1fr;*/
/*    margin-top: -100px;*/
/*}*/

/*#hero-box {*/
/*    grid-column: 1/4;*/
/*    grid-row: 1/3;*/
/*    z-index: -1;*/
/*}*/
/*#hero-msg h4 {*/
/*    color: white;*/
/*}*/

/*#hero-msg {*/
/*    grid-column: 2/3;*/
/*    grid-row: 1/2;*/
/*    margin-top: 100px;*/
/*}*/




/*!* Main Section *!*/
/*.main {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(10, 1fr);*/
/*}*/

/*.rivers-card {*/
/*    grid-column: 2/4;*/
/*    grid-row: 2/3;*/
/*}*/

/*.camping-card {*/
/*    grid-column: 5/7;*/
/*    grid-row: 2/3;*/
/*}*/

/*.rapids-card {*/
/*    grid-column: 8/10;*/
/*    grid-row: 2/3;*/
/*}*/
/*.msg {*/
/*    background-color: #0a653fb8;*/
/*    padding: 35px;*/
/*    grid-column: 7 / 11; !* Position in columns 7–10 (right) *!*/
/*    grid-row: 3 / span 4; !* Position in rows 3–7 (center) *!*/
/*    box-shadow: 5px 5px 10px #6f7364;*/
/*    width: 50%;*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    position: relative;*/
/*    margin-top: -442px;*/
/*    float: none;*/
/*}*/


/*#background {*/
/*    height: 725px;*/
/*    background-color: #d7901b;*/
/*    display: grid;*/
/*    grid-column: 1/10; !* Cover all columns *!*/
/*    grid-row: 1/8; !* Cover all rows *!*/
/*}*/

/*.mountains {*/
/*    !*width: 100%; !* To make sure the image covers the entire centered content *!*!*/
/*    grid-column: 2/7;*/
/*    grid-row: 5/8;*/
/*    transition: transform .5s;*/
/*    box-shadow: 5px 5px 10px #6f7364;*/
/*}*/

/*@media screen and (max-width: 900px) {*/
/*    #hero, .home-grid {*/
/*        display: block;*/
/*        height: auto;*/
/*    }*/
/*    nav, footer {*/
/*        flex-direction: column;*/
/*    }*/
/*    nav a {*/
/*        display: block;*/
/*        padding: 15px;*/
/*    }*/
/*    #hero {*/
/*        margin-top: 0;*/
/*    }*/
/*    #hero-msg {*/
/*        margin-top: 0;*/
/*    }*/
/*    #hero-msg h4 {*/
/*        display: none;*/
/*    }*/
/*    .home-title {*/
/*        font-size: 25px;*/
/*        color: #6f7364;*/
/*    }*/
/*    .rivers-card, .camping-card, .rapids-card {*/
/*        margin: 50px auto;*/
/*        width: 60%;*/
/*    }*/
/*    #background {*/
/*        display: none;*/
/*    }*/
/*    .mountains, .msg {*/
/*        width: 80%;*/
/*        display: block;*/
/*        margin: 0 auto;*/
/*    }*/
/*    footer {*/
/*        margin-top: 25px;*/
/*    }*/
/*}*/
