
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap');

h1, h2, h3 {
    font-family: Righteous, Arial, sans-serif;
}



body {
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #396E94;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffd700; /* Change color on hover, adjust as needed */
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    margin-left: 15px;
    font-size: 1.2rem;
}

h2{
    color: #0a653f ;
}

h3{
    color: #0c54b4;
}





.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 150px;
}

.item {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


.section-two{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 38vh;
    place-items: center;
}


.section-twos{
    box-sizing: border-box;
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: auto auto;*/
    /*height: 29vh;*/
    place-items: center;
    margin-top: 113px;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: #d7901b;
}

.content-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.line {
    border-top: 2px solid #333;
    width: 100%;
    margin-top: 20px;
}

p {
    margin: 0;
    color: #666;
}



.section-three{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    height: 80vh;
    /*margin-bottom: 150px;*/
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.left h3 {
    text-align: center;
    margin: 0 auto;
}

.left img {
    width: 80px;
    margin-left: 270px;
    align-content: center;
    align-items: center;
}



p {
    margin: 0;
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
}


.right {
    text-align: center;
}

.right img {
    max-width: 100%;
    height: auto;
}

.banner-image{
    margin-top: 25px;
}

footer {
    background-color: #396E94;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
    color:  #fff;;
}

footer div {
    margin-top: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    max-width: 30px;
    height: auto;
}




