
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous+Montserrat+Merriweather&display=swap');

h1, h2, h3 {
    font-family: Righteous, Arial, sans-serif;
}



body {
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

nav {
    background-color: #396E94;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffd700; /* Change color on hover, adjust as needed */
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    margin-left: 15px;
    font-size: 1.2rem;
}

h2{
    color: #0a653f ;
}

h3{
    color: #0c54b4;
}







.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 150px;
}

.item {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


.section-two{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 38vh;
    place-items: center;
}


.section-twos{
    box-sizing: border-box;
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: auto auto;*/
    /*height: 29vh;*/
    place-items: center;
    margin-top: 113px;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: #d7901b;
    margin-bottom: 25px;
}

.content-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.line {
    border-top: 2px solid #333;
    width: 100%;
    margin-top: 20px;
}

p {
    margin: 0;
    color: #c5c4c0;
    font-family: "Open Sans", Helvetica, sans-serif;
}



.section-three{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    height: 80vh;
    /*margin-bottom: 150px;*/
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.left h3 {
    text-align: center;
    margin: 0 auto;
}

.left img {
    width: 80px;
    margin-left: 270px;
    align-content: center;
    align-items: center;
}



p {
    margin: 0;
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
}


.right {
    text-align: center;
}

.right img {
    max-width: 100%;
    height: auto;
}

.banner-image{
    margin-top: 25px;
}

footer {
    background-color: #396E94;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
    color:  #fff;;
}

footer div {
    margin-top: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    max-width: 30px;
    height: auto;
}

/*Second page css */

.heading-second {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.h1-second {
    text-align: center;
    margin-top: 92px;
    background-color: #0c54b4;
    padding: 12px;
    border-radius: 8px;
}


.section-second {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    padding: 20px;
}

.left-column-second {
    grid-column: 1 / 2;
}

.right-column-second {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}
.center-image-second{
    display: inline-table;
    align-items: center;
    justify-content: center;
}

.img-second {
    max-width: 100%;
    height: 20%;
    border-radius: 38px;
    background-color: #0c54b4; /* Set your desired background color */
    padding: 20px;
}

.p-second{
    text-align: center;
}




.container-third {
    display: inherit;
    place-items: center;
    height: 300px;
    padding: 20px;
    width: 879px;
    position: relative;
    margin-left: 472px;
    margin-top: -654px;
    margin-bottom: 100px;
    border-radius: 38px;
}

.text-overlay-third {
    position: absolute;
    top: 50%;
    right: -112px; /* Adjust the right distance as needed */
    transform: translateY(-50%);
    color: white;
    font-size: 1.5em;
    text-align: right;
}

.img-third{
    width: 100%;
    height: 20%;
    margin-top: 20px;
    /*border-radius: 40px;*/
    border-radius: 38px;
    background-color: #0c54b4;
    padding: 20px;
}

.buton-third{
    padding: 12px;
    font-size: 22px;
    border-radius: 10px;
}

.lef-div-third{
    height: 1065px;
    background-color: #d7901b;
    padding: 20px;
    border-radius: 35px;
}

.text-style-third{
    font-style: oblique;
    background-color: #d7901b;
    border-radius: 12px;
    margin-top: 26px;
    margin-bottom: 27px;
}

.sub-til-sec{
    text-align: center;
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
}

.but-st-sec{
    background-color: #0a653f;
    color: white;

}
/*Second page css */


/*third page css*/


.section-third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    margin-left: 20%;
}

.section-third-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Add border radius to the image */
    background-color: #0c54b4;
    padding: 20px;
}

.section-third-circle-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66%;
    height: 77%;
    border-radius: 50%;
    background-color: #d7901b;; /* Circle background color */
    color: #fff; /* Circle text color */
    font-size: 18px;
}


.carousel-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    /*flex: 0 0 auto;*/
    box-sizing: border-box;
    width: 30%;
}

.carousel-item img {
    width: 50%;
    height: auto;
    display: block;
}

.carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

.carousel-button {
    cursor: pointer;
    font-size: 24px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    margin: 0 5px; /* Adjust the margin as needed */
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: #ddd;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.text-container-thirds {
    width: 60%; /* Adjust based on your layout */
    height: 50%; /* Adjust based on your layout */
    border: 1px solid #ccc;
    overflow: hidden; /* Hide overflowed content */
    padding: 10px;
    box-sizing: border-box;
}

.text-content-thirds {
    font-size: 14px;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bold;
    margin-top: -32px;
}

.third-sub-title{
    color: green !important;
}

/*third page css*/

@media only screen and (max-width: 1400px) {

    .section-third-img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        background-color: #0c54b4;
        padding: 20px;
        margin-left: -66px;
    }
}


